.vlTranslatable, .vlTranslatableEditor{
	textarea{
		display: block;
	}
	.vlLocales{
		position: absolute;
		top: -2rem;
		right: 0;
		text-align: right;
		a{
			display: inline-block;
			cursor: pointer;
			margin-right: 0.3rem;
			opacity: 0.6;
			font-size: 80%;
			&.vlSelected{
				font-weight: bold;
				border-bottom: 2px solid $form-primary-color;
				color: $form-primary-color;
				opacity: 1;
			}
		}
	}
}