.vlTrix{
	text-align: initial;
	.trix-button-row {
		justify-content: stretch;
	}
	.trix-button-group{
		background-color: $form-control-bg;
		margin-bottom: 0;
		border: 0;
		&.trix-button-group--text-tools{
			flex:4;
		}
		&.trix-button-group--block-tools{
			flex:7;
		}
		&.trix-button-group--history-tools{
			flex:2;
		}
	}
	.trix-button{
		border-left: 0;
		max-width: none;
		flex:1;
		width: auto;
		border-bottom: 1px solid $form-control-border-color;
	}
	.trix-content {
		height: auto;
		max-height: 80vh;
		overflow-y: auto;
		border: 0;
		min-height: 5rem;
	}
}