@import 'element/elements';

/**
 * Colors
 */
$form-primary-color: $primary !default;
$form-field-error-color: #f56565 !default;
$form-control-bg: #fff !default;
$form-control-placeholder-color: gainsboro !default;

/**
 * Icons
 */
$form-field-icon-width: 1.8rem !default;
$form-field-icon-color: gainsboro !default;

/**
 * Spacing
 */
$form-row-margin-t: 0.5rem !default;
$form-row-margin-b: 2rem !default;

$form-control-padding-t: 1rem !default;
$form-control-padding-r: 0.7rem !default;
$form-control-padding-b: 0.4rem !default;
$form-control-padding-l: 0.7rem !default;
$form-control-padding: $form-control-padding-t $form-control-padding-r $form-control-padding-b $form-control-padding-l !default;

$form-control-min-height: 2.9rem !default;

/**
 * Label
 */
$form-label-position: absolute !default;
$form-label-position-t: 0.7rem !default;
$form-label-position-l: $form-control-padding-l !default;
$form-label-focused-font-size: 75% !default;
$form-label-focused-font-weight: 700 !default;
$form-label-focused-position-t: 0.1rem !default;
$form-label-focused-position-l: 0.7rem !default;
$form-label-icon-focused-position-l: $form-field-icon-width + $form-label-focused-position-l !default;
$form-label-select-buttons-position-t: - 1.4rem !default;
$form-label-select-buttons-focused-position-t: - 1.3rem !default;
$form-label-editor-position-t: 2.4rem + $form-label-position-t !default;
$form-label-editor-focused-position-t: 2.4rem + $form-label-focused-position-t !default;
$form-label-trix-position-t: 1.6rem + $form-label-position-t !default;
$form-label-trix-focused-position-t: 1.6rem + $form-label-focused-position-t !default;

/**
 * Borders
 */
$form-control-border-radius: .25rem .25rem 0 0 !default;
$form-control-border-color: gainsboro !default;
$form-control-border-color-focused: $form-primary-color !default;
$form-control-box-shadow-focused: 0 0 0.1rem 0.2rem mix($form-primary-color, #fff, 25) !default;

$form-control-border: 0 !default;
$form-control-border-bottom: 1px solid $form-control-border-color !default;
$form-control-border-expanding: 0.125rem !default;

/**
 * Checkbox & Toggle
 */
$form-checkbox-height: 1.3rem !default;
$form-toggle-height: 1.44rem !default;
$form-toggle-width: 2.7rem !default;

@import 'form/common';
@import 'catalog/catalog';
@import 'menu/minimal';