th{
	text-align: left; //browser was defaulting to center align...
}

.vlTable{
	margin-bottom: 0;
	tbody{
		>tr{
			&:hover{
				background-color: ghostwhite;
			}
			&.vlActive{
				background-color: #e9f1ff;
			}
		}
	}
}