@import 'icons';

$primary: #31475e !default;
$secondary: #359678 !default;
$box-shadow-focused: 0 0 0.1rem 0.25rem mix($primary, #fff, 35) !default;
$btn-padding-y: 0.4rem !default;
$btn-padding-x: 1rem !default;
$btn-border-radius: 0.25rem !default;

@import 'Normalize';
@import 'BootstrapGridTable';

@import 'Mixins';
@import 'Shortcuts';
@import 'Transitions';

@import 'Tooltip';

@import 'ButtonLink';
@import 'Tabs';
@import 'Modal';
@import 'Alert';
@import 'Gallery';
@import 'Spinner';