.vlInputGroup{
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	.vlFormControl{
		flex: 1;
		min-width: 0; //important for a Firefox flex bug where children were overflowing the parent
	}
}

.vlInputPrepend,.vlInputAppend{
	color: $form-field-icon-color;
    width: $form-field-icon-width;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.vlInputPrepend{
	justify-content: flex-end;
}

.vlInputAppend{
	justify-content: flex-start;
}