.vl-sidebar-l, .vl-sidebar-r{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.vl-sidebar-l{
	>.vl-nav-item{
		border-left: $nav-item-border;
		&:hover,&.active{
			border-left: $nav-item-border-hover;
		}
	}
}
.vl-sidebar-r{
	>.vl-nav-item{
		border-right: $nav-item-border;
		&:hover,&.active{
			border-right: $nav-item-border-hover;
		}
	}
}

