.vlBadge{
    display: inline-block;
    align-self: flex-start; //needed when inside Flex container
    padding: .25em .4em;
    border-radius: .25rem;
    background-color: ghostwhite;
    font-weight: 700;
    font-size: 90%;
    @include box-shadow(1px 1px 3px 0 #ccc);  
}