/**
 * Mixins
 */
@mixin btnInitial($color){
	background-color: $color;
	color: #fff;
	user-select: none;
	@if variable-exists(btn-depth){
		background-clip: padding-box;
		border-bottom: 2*$btn-depth solid mix($color, black, 60%);
		&:hover{
			border-top: $btn-depth solid transparent;
			border-bottom: $btn-depth solid mix($color, black, 60%);
		}
	}
	&:hover{
		background-color: mix($color, black, 85%);
	}
}

@mixin linkInitial($color){
	color: $color;
	&:hover{
		color: mix($color, black, 85%);
	}
}

@mixin btnOutline($color){
	background-color: transparent;
	border: 1px solid $color;
	color: $color;
	&:hover{
		background-color: transparent;
		color: mix($color, black, 80%);
		border: 1px solid mix($color, black, 80%);
	}
}

@mixin btnPlain($color){
	background-color: transparent;
	border: 0;
	color: $color;
	&:hover{
		background-color: transparent;
		color: mix($color, black, 80%);
	}
}

/**
 * Display styles
 */
.vlBtn, .vlLink{
	label{cursor: pointer;}
	@if variable-exists(btn-border-radius){
		border-radius: $btn-border-radius;
	}
}
button.vlBtn, a.vlBtn, a.vlLink{ //i had to go 2 levels deep because of normalize adding outline
	@if variable-exists(box-shadow-focused){
		&:focus{
			outline: 0;
			box-shadow: $box-shadow-focused;
		}
	}
}
.vlBtn{ 
	padding: $btn-padding-y $btn-padding-x;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.vlLink{ 
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.vlBtnBlock{
	display: flex;
	width: 100%;
}
.vlBtnInline{
	display: inline-flex;
	width: auto;
}

/**
 * Initial link styles
 */
.vlLink{
	@include linkInitial($primary);
}
/**
 * Initial button styles
 */
.vlBtn, a.vlBtn{
	@include btnInitial($primary);
}

/**
 * Outlined buttons
 */
.vlBtnOutlined, a.vlBtnOutlined{
	@include btnOutline($primary);
}

/**
 * Plain buttons
 */
.vlBtnPlain, a.vlBtnPlain{
	@include btnPlain($primary);
}

/**
 * Secondary extension
 */
.vlLink.vlSecondary{
	@include linkInitial($secondary);
}
.vlBtn.vlSecondary, a.vlBtn.vlSecondary{
	@include btnInitial($secondary);
}
.vlBtnOutlined.vlSecondary, a.vlBtnOutlined.vlSecondary{
	@include btnOutline($secondary);
}
.vlBtnPlain.vlSecondary, a.vlBtnPlain.vlSecondary{
	@include btnPlain($secondary);
}