
/*** variables ****/

$btn-depth: 1px !default;
$table-color: $primary !default;
$modal-header-bg: mix($primary, white, 30%) !default;
$model-header-h1-color: mix($primary, black, 50%) !default;


/***** CSS ********/

body, html {
    height: 100%;
    color: #434242;
    @extend .mini-scroll;
}

a{
	text-decoration: none;
	color: inherit;
	&:hover{
		text-decoration: none;
	}
}

.vlFieldErrors {
	white-space: nowrap;
}

.vlModalHeader{
	background-color: $modal-header-bg;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem;
	h1{
        color: $model-header-h1-color;
		font-size: 1.5rem;
	}
}

.vlPaginationT{
	margin-bottom: 0.5rem;
}
.vlPaginationB{
	margin-top: 0.5rem;
}

.vlTableWrapper {
    border: 1px solid gainsboro;
    border-radius: 0.4rem;
	thead th {
		background-color: $table-color;
		color: white;
		&:first-child{
			border-top-left-radius: 0.4rem;
		}
		&:last-child{
			border-top-right-radius: 0.4rem;
		}
	}
}
.page-item.active .page-link{
	background-color: $table-color;
}

.vlTags{
	font-size: 90%;
}

.vlAlertClose{
	opacity: 0.7;
}

/* SCROLL */

$scroll-color: #a3aabb !default;

.mini-scroll::-webkit-scrollbar { width: 6px;  }
.mini-scroll::-webkit-scrollbar-track { background: #e7e9ec; }
.mini-scroll::-webkit-scrollbar-thumb { background: $scroll-color; }

.vl-sidebar-l, .vl-sidebar-r, .kompoScrollableContent, .vl-collapse-on-mobile-menu{
    @extend .mini-scroll !optional;
}