//helper class
.vl-flex-column-stretch{display: flex; flex-direction: column; align-items: stretch;}

.vl-navbar-toggler{
	cursor: pointer;
	display: flex;
	padding-right: 2rem;
	font-size: 1.5rem;
}
.vl-collapse-on-mobile-menu{
	flex-basis:100%;
	@extend .vl-flex-column-stretch;
    overflow-y: auto;
    //max-height: 100vh; //JS now handles it... no CSS solution found
	//@extend .mini-scroll !optional; //removing mini-scroll as it is already minified on mobile
	.vl-nav-left{
		justify-content: flex-start;
		@extend .vl-flex-column-stretch;
	}
	.vl-nav-right{
		justify-content: flex-end;
		@extend .vl-flex-column-stretch;
	}
	&.vl-menu-closed{
		display: none;
	}
}
@include media-breakpoint-down(md) {
	.vl-collapse-on-mobile-menu{
		padding-bottom: 50px; //for iOS Safari's bottom toolbar and give room to breathe
	}
}
@include media-breakpoint-up(lg) {
	.vl-navbar-toggler{
		display: none;
	}
	.vl-collapse-on-mobile-menu{
		flex-basis:auto;
		flex-grow: 1;
		justify-content: space-between;
		flex-direction: row;
		overflow-y: initial;
		&.vl-menu-closed{
			display: flex; //&.vl-menu-closed to override mobile default
		}
		.vl-nav-left{
			justify-content: flex-start;
			flex-direction: row;
		}
		.vl-nav-right{
			justify-content: flex-end;
			flex-direction: row;
		}
	}
}