.kompoFlex{
	display: flex;
	flex: 1;
	align-items: stretch;
}
.kompoFlexCol{
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: stretch;
}
.kompoScrollableContent{
	overflow-y: auto;
}
.kompoScrollableContent:not(.kompoFlexCol){
	flex-wrap: wrap; //to fix a weird bug where the sidebar wouldn't stretch even with align-stretch... the devs say it's not a bug
}
.kompoFixedContent{
	overflow: hidden;
}