.vl-sidebar-l, .vl-sidebar-r{
	display: flex;
	flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    @extend .mini-scroll !optional;
    .vl-nav-item{
        align-items: center; //why was it flex-start?
        white-space: initial;
    }
}
.vl-sidebar-l{
    direction: rtl;
    *{
        direction: ltr;
    }
}