$primary: #25895e !default;
$primary-hover: #19c179 !default;
$secondary: #466eaf !default;


$catalog-filters-spacing: 2rem !default;

@import 'Main';
@import 'Pagination';
@import 'TableForm';
@import 'Table';
@import 'Masonry';
@import 'RowTitleButtons';
@import 'ImageWithThumbnails';
